<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recordandov4">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:name=".database.InfosDatabase"
        android:icon="@mipmap/ic_launcher"
        android:label="Recordando"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.recordandov4.InfosActivity"/>
        <activity android:name="com.example.recordandov4.game.MainGame"/>
        <activity android:name="com.example.recordandov4.MainActivityNotes"/>
        <activity android:name="com.example.recordandov4.MainActivity"/>
        <activity android:name="com.example.recordandov4.LoginActivity"/>
        <activity android:name="com.example.recordandov4.util.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>